/* Home page */
*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans Regular';
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Logo{
    width: 275px;
    cursor: pointer;
    background: transparent;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
text-decoration: none;
color: #000;
text-transform: uppercase;
font-size: large;
}
.navbar ul li::after{
content: '';
height: 3px;
width: 0;
background: #B99976;
position: absolute;
left: 0;
bottom: -10px;
transition: 0.5s;
}
.navbar ul li:hover:after{
width: 100%;
}
.content{
width: 100%;
position: absolute;
top: 50%;
transform: translateY(-50%);
text-align: center;
color:#000;
}
.content.h1{
  font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    font-size: 18px;
    line-height: 25 px;
}

/*Sign up & login in buttons*/
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid #B99976;
    background: transparent;
    color: #664229;
    cursor:pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #e5d3b3;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
width: 100%;
}
button:hover{
    border: none;
}


/* Notifications page*/

:root {
  --primary-red: hsl(1, 90%, 64%);
  --primary-blue: hsl(219, 85%, 26%);

  --neutral-white: hsl(0, 0%, 100%);
  --neutral-light-brown: hsl(#fbf8f3);
  --neutral-light-brown-1: hsl(#f6f0e6);
  --neutral-light-brown-2: hsl(#f2e9da);
  --neutral-dark-brown: hsl(#5c4033);
  --neutral-very-dark-brown: hsl(#2e201a);
}

.container {
  width: 1440px;
  margin: 0px auto;
  background: var(--neutral-light-brown);
  border: 1px solid var(--neutral-light-brown);
}

.attribution {
  margin: 50px auto 5px;
}

.app {
  width: 700px;
  margin: 50px auto;
  background: var(--neutral-white);
  border-radius: 20px;
  padding: 15px 25px;
}

.app .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.header h2 {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header h2 .title {
  font-size: 20px;
  text-align: center;
}

.header h2 .unread-notification-number {
  text-align: center;
  background: #b99976;
  color: var(--neutral-white);
  width: 25px;
  height: 20px;
  font-size: 14px;
  border-radius: 5px;
}

.header p {
  color: var(--neutral-dark-brown);
  cursor: pointer;
}

.header p:hover {
  color: var(--primary-blue);
}

.app .body {
  margin-top: 15px;
}

.body .notification {
  background: var(--neutral-light-brown);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: all .3s ease-in-out;
  margin: 10px 0px;
}

.body .notification:hover {
  background: var(--neutral-light-brown-1);
}

.notification-click {
  animation: notification-click .5s ease-in-out forwards;
}

@keyframes notification-click {
  0% {
    background: var(--neutral-light-brown-1);
  }

  50% {
    background: var(--neutral-light-brown-2);
  }

  100% {
    background: none;
  }
}

.notification .avatar {
  width: 8%;
}

.notification .avatar img {
  width: 100%;
}

.notification .text {
  width: 92%;
}

.text .text-top p {
  color: var(--neutral-light-brown);
}

.text .text-top p .profil-name {
  font-weight: 800;
}

.text .text-top p b {
  color: var(--neutral-dark-brown);
  display: inline-block;
}

.text .text-top p .unread-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0px 0px 1px 7px;
  border-radius: 50%;
  background: var(--primary-red);
}

.text .text-bottom {
  color: rgba(94, 103, 120, .5);
}

.text .text-top p .b-blue {
  color: var(--primary-blue);
}

.notification.readed {
  background: none;
}

.notification.private-message .avatar {
  align-self: start;
}

.notification.private-message .avatar {
  align-self: start;
}

.notification.readed .text-bottom p {
  color: var(--neutral-dark-grayish-blue);
  padding: 20px;
  border: 1px solid var(--neutral-light-brown-2);
  margin-top: 10px;
}

.notification.readed .text p b {
  display: inline;
}

.notification.picture .avatar {
  width: 8%;
}

.notification.picture .text {
  width: 84%;
}

.notification.picture .commented-picture {
  width: 8%;
}

.notification.picture .commented-picture img {
  width: 100%;
}

/* responsive */
@media screen and (max-width: 375px) {
  * {
    font-size: 14px;
  }

  .container {
    width: 375px;
  }

  .app {
    width: 375px;
    margin: 0 auto;
    padding: 15px 15px;
  }

  .notification .avatar {
    width: 15%;
  }

  .notification .text {
    width: 85%;
  }

  .notification.readed .text-bottom p {
    font-size: 13px;
  }

  .notification.picture .avatar {
    width: 15%;
  }

  .notification.picture .text {
    width: 70%;
  }

  .notification.picture .commented-picture {
    width: 15%;
  }
}

/* Login page */
.loginBody {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lucida Sans Regular';
  line-height: 1.5;
  min-height: 100vh;
  background: #f3f3f3;
  flex-direction: column;
  margin: 0;
}

.mainLogin {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  transition: transform 0.2s;
  width: 500px;
  text-align: center;
}

.loginHead-1 {
  color: #B99976;
}

.loginLabel {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: left;
  color: #555;
  font-weight: bold;
}


input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.loginButton {
  padding: 15px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
  border: 2px solid #B99976;
  color: #664229;
  cursor: pointer;
  background-color: transparent;
  width: 100%;
  font-size: 16px;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Messages page*/
* {
    box-sizing: border-box;
    font-family: 'Lucida Sans Regular';
}

/* Styling the main container */
.container {
    width: 70%;
    margin-top: 2rem;
    letter-spacing: 0.5px;
    height: 80%;
    margin-right: 0.5%;
    vertical-align: middle;
    display: inline-block;
}

.container img{
    width: 50px;
    vertical-align: middle;
    border-style: none;
    border-radius: 100%;
    margin-top: 4px;
}
/* Styling the msg-header container */
.msg-header {
    border: 1px solid #B99976;
    width: 100%;
    height: 10%;
    border-bottom: none;
    display: inline-block;
    background-color: #B99976;
    margin: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
/* Styling the profile picture */
.msgimg {
    margin-left: 2%;
    float: left;
}

.container1 {
    width: 270px;
    height: auto; 
    float: left;
    margin: 0;
}

/* styling user-name */
.active {
    width: 150px;
    float: left;
    color: #2e201a;
    font-weight: bold;
    margin: 0 0 0 5px;
 
}
/* Styling the inbox */
.chat-page {
    padding: 0 0 50px 0;
}

.msg-inbox {
    border: 1px solid #B99976;
    overflow: hidden;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


.chats {
    padding: 30px 15px 0 25px;
}

.msg-page {
    max-height: 500px;
    overflow-y: auto;
}

/* Styling the msg-bottom container */
 .msg-bottom {
        border-top: 1px solid #B99976;
        position: relative;
        height: 11%;
        background-color: #B99976;
    }
/* Styling the input field */
    .input-group {
        float: right;
        margin-top: 13px;
        margin-right: 20px;
        outline: none !important;
        border-radius: 20px;
        width: 61% !important;
        background-color: #fff;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
    }
    
    .input-group>.form-control {
        position: relative;
        flex: 1 1 auto;
        width: 1%;
        margin-bottom: 0;
    }
    
    .form-control {
        border: none !important;
        border-radius: 20px !important;
        display: block;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #000;
        background-color: #fff;
        background-clip: padding-box;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
    
    .input-group-text {
        background: transparent !important;
        border: none !important;
        display: flex;
        align-items: center;
        padding: 0.375rem 0.75rem;
        margin-bottom: 0;
        font-size: 1.5rem;
        font-weight: b;
        line-height: 1.5;
        color: #000;
        text-align: center;
        white-space: nowrap;
        background-color: #e9ecef;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        font-weight: bold !important;
        cursor: pointer;
    }
    
    input:focus {
        outline: none;
        border: none !important;
        box-shadow: none !important;
    }
    
    .send-icon {
        font-weight: bold !important;
    }

/* Styling the avatar  */
received-chats-img {
    display: inline-block;
    width: 50px;
    float: left;
}

.received-msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}
.received-msg-inbox {
    width: 57%;
}

.received-msg-inbox p {
    background: #f3f3f3 none repeat scroll 0 0;
    border-radius: 10px;
    color: #000;
    font-size: 14px;
    margin-left: 1rem;
    padding: 1rem;
    width: 100%;
    box-shadow: rgb(0 0 0 / 25%) 0px 5px 5px 2px;
}
    p {
    overflow-wrap: break-word;
}

/* Styling the msg-sent time  */
.time {
    color: #777;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}
.outgoing-chats {
    overflow: hidden;
    margin: 26px 20px;
}

.outgoing-chats-msg p {
    background-color: #3a12ff;
    background-image: linear-gradient(45deg, #ee087f 0%, #DD2A7B 25%, #9858ac 50%, #8134AF 75%, #515BD4 100%);
    color: #fff;
    border-radius: 10px;
    font-size: 14px;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 100%;
    padding: 1rem;
    box-shadow: rgb(0 0 0 / 25%) 0px 2px 5px 2px;
}
.outgoing-chats-msg {
        float: right;
        width: 46%;
    }

/* Styling the avatar */
.outgoing-chats-img {
    display: inline-block;
    width: 50px;
    float: right;
    margin-right: 1rem;
}
@media only screen and (max-device-width: 850px) {
    *,
    .time {
        font-size: 28px;
    }
    img {
        width: 65px;
    }
    .msg-header {
        height: 5%;
    }
    .msg-page {
        max-height: none;
    }
    .received-msg-inbox p {
        font-size: 28px;
    }
    .outgoing-chats-msg p {
        font-size: 28px;
    }
}

@media only screen and (max-device-width: 450px) {
    *,
    .time {
        font-size: 28px;
    }
    img {
        width: 65px;
    }
    .msg-header {
        height: 5%;
    }
    .msg-page {
        max-height: none;
    }
    .received-msg-inbox p {
        font-size: 28px;
    }
    .outgoing-chats-msg p {
        font-size: 28px;
    }
}
.box {
  font-family: 'Lucida Sans Regular';
  width: 200px;
  height: 80%;
  margin-top: 2rem;
  letter-spacing: 0.5px;
  border: 1px solid #b99976;
  background-color: #e5d3b3;
  padding: 10px;
  margin-left: 8%;
  display:inline-block;
  vertical-align: middle;
}
.box td, th {
  font-family: 'Lucida Sans Regular';
  border: 1px solid #664229;
  text-align: left;
  padding: 8px;
  background-color: #fff;
}

/*Calendar*/
li {
  list-style: none;
  font-family: 'Lucida Sans Regular';
}

ul {
  margin: 0px;
  padding: 0px;
  font-family: 'Lucida Sans Regular';
}
.calendar-container {
  display: grid;
  grid-template-columns: 50px auto;
  grid-template-rows: auto;
  gap: 1px 1px;
  grid-template-areas:
    ". header"
    "timeslots-container main";
    max-width: 95%;
    width: 95%;
    align-content: center;
}

.weekdays,
.daynumbers {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
}

.weekdays {
  background: #664229;
  color: whitesmoke;
  min-height: 80px;
  text-align: center;
  font-size: large;
}

.daynumbers {
  background: #e5d3b3;
  min-height: 2em;
  text-align: center;
  font-size: large;
}

.daynumbers li {
  border-right: 1px solid black;
}

.header {
  background: rgb(146, 121, 97);
  grid-area: header;
}

.timeslots-container {
  background: #B99976;
  grid-area: timeslots-container;
  justify-items: left;
}

.timeslots {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
}

.timeslots li {
  min-height: 80px;
}

.timeslots li::after {
  content: "";
  position: absolute;
  left: 0px;
  width: 95%;
  max-width: 95%;
  height: 1px;
  background: #afafaf;
  z-index: 1;
}

.event-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* 
  4 * 15 min intervals * 9 slots
  4 * 9 = 27 */
  grid-template-rows: repeat(36, 1fr);
  background: rgb(222, 223, 231);
  grid-area: main;
  position: relative;
  white-space: nowrap;
  background: repeating-linear-gradient(
    to right,
    transparent 0%,
    transparent 14.2%,
    gray 14.3%
  );
}

.event-name {
  /*overflow: hidden;*/
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 16px;
  letter-spacing: 0.1px;
  line-height: 15px;
}

.slot {
  position: absolute;
  /*overflow: hidden;*/
  background: rgb(223, 179, 66);
  border-radius: 5px;
  z-index: 5;
  margin-top: 1px;
  border-color:#fff;
  font-size: 16px;
}

.slot::before {
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
    0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
    0 3px 5px -1px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 100ms linear;
}

.slot::after {
  position: absolute;
  top: -1px;
  left: -1px;
  width: -webkit-calc(100% + 2px);
  width: calc(100% + 2px);
  height: -webkit-calc(100% + 2px);
  height: calc(100% + 2px);
  content: "";
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  pointer-events: none;
  border: 1px solid #fff;
}

.event-status {
  float: left;
  border-left: 3px solid rgb(89, 198, 97);
  height: 100%;
}

.slot-1 {
  color: black;
  /* is based on duration */
  height: 45px;

  /* based on start time */
  grid-row: 17;

  /* based on day of week */
  grid-column: 3;
}

.slot-2 {
  color: black;
 /* is based on duration */
 height: 30px;

 /* based on start time */
 grid-row: 17;

 /* based on day of week */
 grid-column: 5;
}

.slot-3 {
  color: black;
   /* is based on duration */
   height: 75px;

   /* based on start time */
   grid-row: 27;
 
   /* based on day of week */
   grid-column: 2;
}

.slot-4 {
  color: black;
   /* is based on duration */
   height: 60px;

   /* based on start time */
   grid-row: 70;
 
   /* based on day of week */
   grid-column: 1;
}

.on-resize {
  opacity: 0.85;
}

.gridcell::after {
  content: "";
  border-right: #dadce0 1px solid;
  position: relative;
  /* padding-right: 12px; */
  /* -webkit-box-sizing: border-box; */
  /* box-sizing: border-box; */
  -webkit-box-flex: 1 1 auto;
  /* -webkit-flex: 1 1 auto; */
  /* flex: 1 1 auto; */
  height: 200%;
}

/*Contact us footer*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
footer{
  background-color: #5c4033;
}
.footerContainer{
  width: 100%;
  padding: 70px 30px 20px ;
  position: absolute; 
    bottom: 0; 
    left: 0; 
    z-index: 10;
    top:100%;
}
.socialIcons{
  display: flex;
  justify-content: center;
}
.socialIcons a{
  text-decoration: none;
  padding:  10px;
  background-color: white;
  margin: 7px;
  border-radius: 50%;
}
.socialIcons a i{
  font-size: 2em;
  color: black;
  opacity: 0,9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
  background-color: #B99976;
  transition: 0.5s;
}
.socialIcons a:hover i{
  color: white;
  transition: 0.5s;
}
.footerBottom{
  background-color: #664229;
  padding: 35px;
  text-align: left;
  position: absolute; 
    bottom: 0%; 
    left: 0%; 
    z-index: 5;
    width:100%;
    top:100%;
}
.footerBottom p{
  color: white;
}
@media (max-width: 700px){
  .socialIcons a{
      padding: 8px;
      margin: 4px;
  }
}